<?xml version="1.0" encoding="UTF-8"?>
<web-app id="clothingFactory" version="3.1"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
	<display-name>Clothing Factory</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>com.ibm.clothingfactory.main.ClothingFactoryApplication</servlet-name>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>com.ibm.clothingfactory.main.ClothingFactoryApplication</servlet-name>
		<url-pattern>/v1/rest/*</url-pattern>
	</servlet-mapping>

	<persistence-context-ref>
		<persistence-context-ref-name>PU_CLOTHINGFACTORY</persistence-context-ref-name>
		<persistence-unit-name>PU_CLOTHINGFACTORY</persistence-unit-name>
		<persistence-context-type>Transaction</persistence-context-type>
	</persistence-context-ref>
</web-app>